<!-- <div class="radioField">
  <input type="radio" name="user" value="login" checked> Login
  <input type="radio" name="user" value="signup"> Register
</div> -->





<!-- <div class="radio">  
  <label>  
      <input type="radio" name="gender" value="Male" (click)="setradio('Male')" [checked]='true' ngModel>  
      Male  
  </label>  
</div>  
<div class="radio">  
  <label>  
      <input type="radio" name="gender" value="Female" (click)="setradio('Female')" ngModel>  
      Female  
  </label>  
</div>  
  
<div *ngIf="isSelected('Male')" >  
     Male radio button selected  
</div>  
  
<div *ngIf="isSelected('Female')">  
  Female radio button selected  
</div> -->  


  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
               required
               [(ngModel)]="model.email" name="email"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Email is required
        </div>
      </div>
       <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               required
               [(ngModel)]="model.password" name="password"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Password is required
        </div>
      </div> 
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
    </form>
  </div>


<!-- <form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
    <input formControlName="email" type="email" placeholder="Your email">
    <input formControlName="password" type="password" placeholder="Your password">
  <button type="submit">Log in</button>
</form> -->