<!-- created by bodapati
ID:700663385-->

<!--displaying all the products-->
 <ul class="row list-unstyled productsList myitems">
  <li *ngFor="let item of items" class="col-sm-3">
    <span class="hide itemid">{{ item.itemid }}<label>{{item.imageids}}</label></span>
    <img [src]="'http://localhost:3000/downloadimage?id='+item.imageid">
    <div class="desBlock">
        <p class="product">{{ item.productname }}</p>
        <p class="description">{{ item.description }}</p>
        <p class="price">Price: ${{ item.price }}</p>

        <p><input type='checkbox' id='soldItem' /> Sold</p>
        <button type="button" class="btn btn-info update" [attr.itemid]=item.itemid>Update</button>
        <button type="button" class="btn btn-danger delete" [attr.name]=item.itemid>Delete</button>

    </div>
  </li>
</ul>


<div class="modal fade" id="updateProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard=false>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerColor">
        <h4 class="modal-title" id="myModalLabel">Update Product</h4>
      </div>
      <!--Form to update the product-->
      <div class="modal-body">
                <form class="form-horizontal" (ngSubmit)="addSubmit(userForm)" #userForm="ngForm">
                        <div class="form-group">
                          <label for="productname" class="col-sm-2 control-label">Product Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="productname" placeholder="Product Name" required name="productname" [(ngModel)]="model.productname" #productname="ngModel">
                            <div [hidden]="productname.valid || productname.pristine"
                                 class="alert alert-danger">
                              Product Name is required
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-sm-2 control-label">Description</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" placeholder="Description" required name="description" [(ngModel)]="model.description" #description="ngModel">
                            <div [hidden]="description.valid || description.pristine"
                                 class="alert alert-danger">
                              Description is required
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="price" class="col-sm-2 control-label">Price ($)</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="price" placeholder="Price" required name="price" [(ngModel)]="model.price" #price="ngModel" pattern="[0-9]*" maxlength="5">
                              <div [hidden]="price.valid || price.pristine"
                                class="alert alert-danger">
                                Enter valid Price
                              </div>
                            </div>
                          </div>
                        <div class="form-group">
                          <label for="keywords" class="col-sm-2 control-label">Keywords use(,) separator</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="keywords" placeholder="keywords" required name="keywords" [(ngModel)]="model.keywords" #keywords="ngModel">
                            <div [hidden]="keywords.valid || keywords.pristine"
                                 class="alert alert-danger">
                              keywords are required
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="category" class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-10">
                              <label *ngFor="let item of categories" class="checkbox-inline">
                              <input type="checkbox" [checked]="checkedCategory[item.categoryid]" [attr.categoryid]=item.categoryid name='type'> <span>{{ item.categroryDesc }}</span>
                              </label>
                            </div>
                        </div>



                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
                          </div>
                        </div>
                </form>
              </div>
            </div>
          </div>
        </div>
