<!--
created by Bodapati
Id: 700663385
-->

<div class="row header">
   <div class="col-xs-3 col-sm-3 text-center">
   		<div class="logo"><img src="../assets/download.jpg" alt="Ucm logo" height="80" width="120"></div>
  </div>
  <div class="col-xs-5 col-sm-5 text-center">
    <form class="form-inline">
	  <div class="form-group">
	    <div class="input-group searchBox">
	      <input class="form-control" id="search" placeholder="search for products">
	      <div class="input-group-addon" id="searchBtn"><i class="fa fa-search"></i></div>

        <input type='hidden' value="" id='categoryId'>
        <input type='hidden' value="" id='isAdmin'>
        <input type='hidden' value="" id='amountId'>
	    </div>
	  </div>
	</form>
  </div>
  <div class="col-xs-4 col-sm-4 text-center">
    <!--span for displaying user amount-->
    <span class="pull-left" id="amountDisplay"></span>
    <button class="btn btn-default" id='logout' role="button">Logout</button>
  </div>
 </div>
