<!--created by bodapati--
Id:700663385-->


<div class="modal fade" id="infopopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard=false>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header headerColor">

        <h4 class="modal-title" id="myModalLabel">Login / Signup</h4>
      </div>
      <!--Displayoinng error message if sign in credentials are wrong-->
      <div class="modal-body">
      		Something went wrong. Please check UserName, Password
      		<p> Do you want to <button type="button" class="btn btn-link" id='loginAgain'>Login</button>  </p>
      </div>
    </div>
  </div>
</div>
